# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.trae
document

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
gradle/
app/
build.gradle
gradle.properties
gradle.properties
gradlew
gradlew.bat
settings.gradle
manifest-checksum.txt
android.keystore
.gradle/
*.txt

# Android Build Artifacts
*.apk
*.aab
*.idsig
local.properties
build/
test-results/
playwright-report/
tests/fixtures/*.png

# Portable Build Artifacts
public/nahan-portable.html
